.container {
  overflow: auto;
}

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

.row {
  stroke: 0;
}

.cell {
  stroke: lightgrey;
  stroke-width: 1px;
}
.cell,
.label {
  transition: x 1s, y 1s, fill 1s;
}
g {
  transition: transform 1s;
}
