post-fill = #f797f5;
post-stroke = #733284;
tag-fill = #fba429;
tag-stroke = #9e5b19;
cat-fill = #6cb5f1;
cat-stroke = #355169;

.node {
  cursor: pointer;
}
.post {
  fill: post-fill;
  stroke: post-stroke;

  // &.selected {
  //   fill: darken(post-fill, 25%);
  //   stroke: darken(post-stroke, 25%);
  // }
}
.post_tag {
  fill: tag-fill;
  stroke: tag-stroke;

  // &.selected {
  //   fill: darken(tag-fill, 25%);
  //   stroke: darken(tag-stroke, 25%);
  // }
}
.category {
  fill: cat-fill;
  stroke: cat-stroke;

  // &.selected {
  //   fill: darken(cat-fill, 25%);
  //   stroke: darken(cat-stroke, 25%);
  // }
}
.hover {
  fill: #888;
  stroke: #212121;
}
.selected {
  fill: #494949;
  stroke: #212121;
}
.edge {
  stroke-width: 1px;
  stroke: #b1b1b1;
}
